.login-wrp{
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    background-image: url(../assets/hlbbbj.png);
    background-size: 100% 100%;

    .login-cont{
      width: 30.6rem;
      margin: 0 auto;
      padding-top: 7%;
    }

    .logo{
      text-align: center;
      img{
        width: 64%;
      }
    }

    .login{
      padding: 3rem 2rem;
      font-family: '微软雅黑';
      font-size: 1.6rem;
      text-align: center;
      .login-input{
        width: 100%;
        background-color: #DCDDDD;
        margin-bottom: 15px;
        border: none;
        font-size: 16px;
        padding: 1.2rem 0 1.2rem 3.8em;
        background-repeat: no-repeat;
        background-position: 10px 4px;
        color: rgb(101, 113, 128);
        outline: none;
        height: 50px;
        box-sizing: border-box;
        &:focus,&:hover{
          border-color: #5cadff;
        }
      }
      .account-icon{
        background-image: url(../assets/icon1.png);
        background-size: 12% 80%;
      }
      .pwd-icon{
        background-image: url(../assets/icon2.png);
        background-size: 12% 80%;
      }
      .login-btn{
        margin-top: 40px;
        width: 100%;
        height: 50px;
        background-color: #F8B62D;
        border: none;
        color: #F0F0F0;
        cursor: pointer;
        font-size: 16px;
      }
    }


  .info{
    overflow: hidden;
    padding-top: 6rem;
    a:hover{
      color: #55ab2e;
      text-decoration: none;
    }
    .forget{
      color: #666;
      font-size: 1.2rem;
      margin: 0 auto;
      display: table;
    }
    .register{
      float: right;
      margin-right: 17%;
      color: #fff;
      font-size: 1rem;
    }
  }


}
